<div class="container">
    <br />
    <table width="90%" cellpadding="10" cellspacing="10">
        <tr>
            <td><b>Name & Address of Directorate</b></td>
            <td>Director Dierectorate of Technical education Rajasthan, W-6 Road, Jodhpur</td>
        </tr>
        <tr>
            <td><b>Contact Number</b></td>
            <td>291-2432290</td>
        </tr>
        <tr>
            <td><b>Mobile Number</b></td>
            <td></td>
        </tr>
        <tr>
            <td><b>Fax Number</b></td>
            <td>0291-2632329</td>
        </tr>
        <tr>
            <td><b>Email Address</b></td>
            <td> </td>
        </tr>
    </table>
    <br />
</div>